
#col1, #col2 {
    max-width: 200px;
    margin: auto;
    display: inline-block;
}
article {
    max-width: 900px;
    margin: auto;
    padding: 5% 10% 0 10%;
}
#btn1 {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
#btn2 {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
}

#btn3 {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
#btn4 {
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
}

#btn5 {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

#btn6 {
    animation: fadeIn 3.5s;
    -webkit-animation: fadeIn 3.5s;
    -moz-animation: fadeIn 3.5s;
    -o-animation: fadeIn 3.5s;
    -ms-animation: fadeIn 3.5s;
}
@media only screen and (min-width:  505px){
    #col2 {
        float: right;
    }
}

@media only screen and (max-width:  504px){
    article {
        width: 200px;
        padding: 50px 0 0 0;
    }
    button {
        margin-bottom: 18% !important;
    }
}
footer {
    position: fixed !important;
}
html {
    height: 100vh !important;
}
body > main {
    margin-bottom: 0 !important;
}
h1.page-title {
    color: #f7a601;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    -webkit-filter: drop-shadow(15px 15px 20px #121212);
    filter: drop-shadow(15px 15px 20px #121212);
    text-shadow: 15px 15px 20px #121212;
}
