footer {
    position: fixed !important;
}
article {
    max-width: 1440px;
    margin: auto;
}
h1.page-title {
    color: white;
    padding: 0;
    text-shadow: 15px 15px 20px #121212;
}
p {
    white-space: pre-line;
}
#left-col, #central-col, #right-col {
    width: 33%;
    display: inline-block;
    min-width: 300px;
}
#img1, #img2, #img3 {
    width: 100%;
    box-shadow: 15px 15px 20px #121212;
}
figurecaption {
    color: #d41217;
    font-size: 28px;
    text-align: center;
    display: block;
    padding: 10px;
    text-shadow: 15px 15px 20px #121212;
}
div.flip-box-front > figure {
    margin: 0;
    padding: 5%;
}
body > main > article > div {
    padding: 1% 2% 0;
    margin: auto;
}
@media only screen and (max-width:  950px){
    #left-col, #central-col, #right-col {
        width: 49%;
    }
    .flip-box {
        width: 49%;
    }
}
@media only screen and (max-width:  630px){
    #left-col, #central-col, #right-col {
        width: 100%;
    }
    .flip-box {
        width: 100%;
    }
}
#img1:hover, #img2:hover, #img3:hover {
    cursor: pointer;
}
.flip-box {
    background-color: transparent;
    width: 33%;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    background-color: #d9d9d9;
    color: white;
    transform: rotateY(180deg);
    min-height: 300px;
    position: absolute;
    bottom: 16%;
    left: 5%;
    width: 90%;
    height: 80%;
    padding: 10%;
    box-shadow: 15px 15px 20px #121212;
}
div.flip-box-back > h2 {
    font-size: 2.2em;
    margin-bottom: 0;
}
div.flip-box-back > p {
    font-size: 1.8em;
}
#roles1::after, #roles2::after, #roles3::after {
    width: 100%;
    line-height: 32px;
    font-size: 21px;
    content: "\f101";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    bottom: 8%;
    left: 0;
}
@media only screen and (max-width:  1400px){
    div.flip-box-back > p {
        font-size: 1.6em;
    }
}
@media only screen and (max-width:  1250px){
    div.flip-box-back > p {
        font-size: 1.4em;
    }
}
@media only screen and (max-width:  1080px){
    div.flip-box-back > p {
        font-size: 1.2em;
    }
}
@media only screen and (max-width:  950px){
    div.flip-box-back > p {
        font-size: 1.6em;
    }
}
@media only screen and (max-width:  820px){
    div.flip-box-back > p {
        font-size: 1.4em;
    }
}
@media only screen and (max-width:  730px){
    div.flip-box-back > p {
        font-size: 1.2em;
    }
}
@media only screen and (max-width:  630px){
    div.flip-box-back > p {
        font-size: 1.9em;
    }
}
@media only screen and (max-width:  515px){
    div.flip-box-back > p {
        font-size: 1.7em;
    }
}
@media only screen and (max-width:  440px){
    div.flip-box-back > p {
        font-size: 1.5em;
    }
}