footer {
    position: fixed !important;
}
article {
    background: rgba(255, 255, 255, 0.61);
    padding: 20px 20px 0px 20px;
}
#col-left, #col-right {
    width: 49%;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}
article {
    max-width: 1400px;
    margin: auto;
    box-shadow: 15px 15px 20px #121212;
}
figurecaption {
    text-align: center;
    display: block;
}
h1.page-title {
    padding: 0;
}
#col-right figure {
    display: inline-block;
    margin: 20px;
}
#preview-video {
    width: 100%;
}
#col-right > div > figure:nth-child(1n+0):hover .preview_text {
    pointer-events: none;
    color: #ff0505;
}

#col-right > div > figure:nth-child(1n+0) > p {
    display: block;
    position: relative;
    bottom: 84px;
    font-size: 1.53em;
    left: 49px;
    width: 52px;
    margin-bottom: -35%;
    line-height: unset !important;
    color: transparent;
    height: 28px;
}

#col-right > div > figure:nth-child(1n+0) > img {
    width: 100%;
    height: auto;
}
#col-right > div > figure:nth-child(1n+0) > img:hover {
    webkit-filter: blur(4px) !important;
    filter: blur(4px) !important;
    cursor: zoom-in;
}
#col-right > div > figure > figurecaption {
    display: block;
    text-align: center;
}
#col-right > div {
    margin: auto;
    max-width: 579px;
}
@media only screen and (max-width:  1262px){
    #col-left, #col-right {
        width: 100%;
    }
}
@media only screen and (max-width:  639px){
    #col-right > div {
        max-width: 385px;
    }
}
@media only screen and (max-width:  445px){
    #col-right > div {
        max-width: 190px;
    }
}
#img_preview1, #img_preview2, #img_preview3, #img_preview4, #img_preview5, #img_preview6, #img_preview7, #img_preview8, #img_preview9 {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    margin: 0;
    background: rgba(188, 188, 188, 0.91);
    width: 100%;
    height: 100%;
    cursor: zoom-out;
    overflow: auto;
}
.preview-img {
    width: 100%;
    padding: 2%;
    max-height: 870px;
    max-width: 1300px;
    margin: auto;
    display: block;
}
#img_preview1 > figurecaption, #img_preview2 > figurecaption, #img_preview3 > figurecaption, #img_preview4 > figurecaption,
#img_preview5 > figurecaption, #img_preview6 > figurecaption, #img_preview7 > figurecaption, #img_preview8 > figurecaption,
#img_preview9 > figurecaption {
    font-size: 2.5vmax;
}

#col-left > p {
    text-align: center;
    font-size: 22px;
    margin: 0;
}