article {
    background: rgba(255, 255, 255, 0.62);
    padding: 20px;
}
h1.page-title {
    color: rgba(37, 37, 37, 0.96);
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0;
}
.rules-column {
    max-width: 300px;
    white-space: pre-line;
    margin: 0;
}
body > main > article > div > p, body > main > article > div > h2 {
    margin: 0;
}